
body {
	padding-top: 70px;
}

.slide-image {
	width: 100%;
}

.carousel-holder {
	margin-bottom: 30px;
}

.carousel-control,
.item {
	border-radius: 4px;
}

.caption {
	height: 130px;
	overflow: hidden;
}

.caption h4 {
	white-space: nowrap;
}



.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}
table{
	margin: 5px;
	border-radius: 3px;
}
.tbl_insert td,.tbl_insert th{
	border: solid 1px #D5D5FF;
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 16px;
}
td, th {
	padding: 5px;
}
tr:nth-child(2n + 0) td{
	background-color: #F4F4FF;
}
table.tbl_repeat th{
	width: 200px;
}
.fld{
	width: 250px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	background: #fff;
	border: 1px solid #ccc;
	outline: none;
	padding: 6px;
}
.fld:focus{
	border: 1px solid #56B4EF;
	box-shadow: 0px 0px 3px 3px #C8DEF0;
}

#ul_gal{
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 30px;
}
#ul_gal img{
	width: 210px;
	height: 160px;
}
#ul_gal li{
	margin: 5px;
	width: 220px;
	list-style: none;
	float: left;
	position: relative;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	transition: all 0.2s ease-in-out 0s;
}
#ul_gal input{
	width: 45px;
}
.li_caption{
	margin-top: 5px;
	text-align: center;
}